snippet yln "yaml node" w
<< YAML::Node
endsnippet

snippet yle "yaml emitter" w
<< YAML::Emitter
endsnippet

snippet yles "yaml end seq" w
<< YAML::EndSeq
endsnippet

snippet ylbs "yaml begin seq" w
<< YAML::BeginSeq
endsnippet

snippet ylem "yaml end map" w
<< YAML::EndMap
endsnippet

snippet ylbm "yaml begin map" w
<< YAML::BeginMap
endsnippet

snippet ylm "yamlmap" w
<< YAML::Key << ${1} << YAML::Value << ${2}
endsnippet

snippet yl "yaml" w
YAML::
endsnippet
